<!DOCTYPE html>
<html>
<title><%= title %></title>

<%- include('../parts/admin/head'); %>

</head>
<body>

<div class='layout-wrapper layout-navbar-full layout-horizontal layout-without-menu'>
    <div class="layout-container">
        <%- include('../parts/admin/nav') %>

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="table-responsive text-nowrap">
                <% if(messages.length) { %>
                    <div class="card">
                        <h5 class="card-header">Table Basic</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Company Name</th>
                                <th>Email Address</th>
                                <th>Phone Number</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <% messages.forEach(item =>{ %>
                                <tr>
                                    <td><%= item.name%></td>
                                    <td><%= item.companyName %></td>
                                    <td><%= item.email %></td>
                                    <td><%= item.phoneNumber %></td>
                                    <td style="white-space: normal"><%= item.message %></td>
                                </tr>
                            <% }) %>

                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <h1>Empty</h1>
                <% } %>

            </div>
        </div>

    </div>


</div>

<%- include('../parts/admin/scripts') %>


</body>
</html>


