
<!DOCTYPE html>
<html>
<%- include('parts/head'); %>
<title><%= title %></title>
</head>
<body>


<%- include('parts/navbar')%>

<section class="services content-header">
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <h1 class="slide-page-text tlt">About Us</h1>
        </div>
    </div>
</section>

<section class="container table-padding">
    <div class="row about-solution">
        <div class="col-md-12 box-about">
            <div class="col-md-5"><img src="images/people-ebook.jpg" alt="" /></div>
            <div class="col-md-7">
                <h2>Solution ebook reading</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae massa et augue pharetra facilisis. Ut ac lacinia dolor.
                    Praesent sed leo et dui rhoncus finibus vel pulvinar nisl. Maecenas fermentum iaculis laoreet. Praesent sed leo et dui rhoncus
                    finibus vel pulvinar nisl.
                </p>
            </div>
        </div>
    </div>


</section>

<%- include('parts/footer')%>
<%- include('parts/scripts'); %>
</body>
</html>


